# Ignore user-uploaded files
uploads/

# Ignore WordPress temporary/cache/upgrade files
cache/
upgrade/
backup-*/
dist/

# Ignore OS and editor files
.DS_Store
Thumbs.db
*.swp
*.swo

# Ignore large files
themes/modo/node_modules/

# Ignore installed plugins
plugins/*
plugins/.gitkeep
litespeed/