header {
  position: absolute;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;

  .menu__container {
    display: flex;
    justify-content: space-between;
    padding: var(--xlarge) var(--xxlarge);
    text-transform: uppercase;
    font-size: var(--textxs);

    .menu {
      margin: 0;
      padding: 0;
      display: flex;
      list-style-type: none;
      gap: var(--xxlarge);
    }

    a {
      text-decoration: none;
      line-height: 1.4;
      display: block;
    }
  }
}
