h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
q {
  font-family: "Inter", sans-serif;
  color: var(--white);
}

h1 {
  font-size: 4.5rem;
  font-weight: var(--font-medium);
  letter-spacing: -0.04em;
  line-height: 0.8;

  @media only screen and (orientation: landscape) {
    font-size: 6rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 8rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: clamp(8rem, 12svw, 18rem);
  }
}

h2 {
  font-size: 3rem;
  font-weight: var(--font-regular);
  letter-spacing: 0em;
  line-height: 1;

  @media only screen and (orientation: landscape) and (max-width: 768px) {
    font-size: 3.5rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 3.5rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 4.5rem;
  }
}

h3 {
  font-size: 2.75rem;
  font-weight: var(--font-regular);
  letter-spacing: 0em;
  line-height: 1;

  @media only screen and (orientation: landscape) and (max-width: 768px) {
    font-size: 3rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 3.5rem;
  }
}

h4 {
  font-size: 2.5rem;
  font-weight: var(--font-regular);
  letter-spacing: 0em;
  line-height: 1.1;

  @media only screen and (orientation: landscape) and (max-width: 768px) {
    font-size: 2.75rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 2.75rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 3rem;
  }
}

h5 {
  font-size: 2.25rem;
  font-weight: var(--font-regular);
  letter-spacing: 0em;
  line-height: 1.15;

  @media only screen and (orientation: landscape) and (max-width: 768px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 2.75rem;
  }
}

h6 {
  font-size: 2rem;
  font-weight: var(--font-regular);
  letter-spacing: 0em;
  line-height: 1.2;

  @media only screen and (orientation: landscape) and (max-width: 768px) {
    font-size: 2.25rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 2.25rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 2.5rem;
  }
}

.text-xs {
  font-size: var(--small);
  letter-spacing: 0.1em;
  line-height: 1.33;
}

.text-sm {
  font-size: var(--regular);
  letter-spacing: 0em;
  line-height: 1.42;
}

.text-base {
  font-size: var(--base);
  letter-spacing: 0em;
  line-height: 1.5;
}

.text-lg {
  font-size: var(--large);
  letter-spacing: 0em;
  line-height: 1.5;
}

.text-xl {
  font-size: var(--xlarge);
  letter-spacing: 0em;
  line-height: 1.5;
}

.text-2xl {
  font-size: var(--large);
  letter-spacing: -0.04em;
  line-height: 1.33;

  @media screen and (min-width: 1024px) {
    font-size: var(--xxlarge);
  }
}

.text-3xl {
  font-size: var(--xxxlarge);
  letter-spacing: 0em;
  line-height: 1.5;
}

.text-4xl {
  font-size: var(--xxlarge);
  letter-spacing: 0;
  line-height: 1.2;

  @media only screen and (orientation: landscape) {
    font-size: var(--xxxlarge);
  }

  @media only screen and (max-width: 768px) {
    font-size: var(--xxxlarge);
  }

  @media screen and (min-width: 768px) {
    font-size: var(--huge);
  }

  @media screen and (min-width: 1024px) {
    font-size: 2.5rem;
  }
}

.text-5xl {
  font-size: var(--huge);
  letter-spacing: -0.04em;
  line-height: 1.08;

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 3rem;
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  width: fit-content;
  overflow: hidden;

  &:focus-visible {
    outline: none;
  }

  &:has(> .js-roll-text),
  &:has(> .js-roll-arrow) {
    .js-roll-text,
    .js-roll-arrow {
      position: relative;
      display: inline-block;
      line-height: normal;
      transition-property: transform;
      transition-duration: 0.4s;
    }

    .js-roll-text::after {
      content: attr(data-text);
      display: block;
      position: absolute;
      color: var(--white);
    }

    .js-roll-arrow::after {
      content: "";
      position: absolute;

      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      width: 16px;
      height: 16px;
      transform: translate(-32px, 16px);

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M5.08316 4.55289H11.4471V10.9169M11.0052 4.99483L4.55283 11.4472' stroke='white' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1.5px' /%3E%3C/svg%3E");
    }
  }
}
