h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
q {
  font-family: "Inter", sans-serif;
  color: var(--white);
}

h1 {
  font-size: 4.5rem;
  font-weight: var(--font-medium);
  letter-spacing: -0.04em;
  line-height: 0.8;

  @media only screen and (orientation: landscape) {
    font-size: 6rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 8rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: clamp(8rem, 12svw, 18rem);
  }
}

h2 {
  font-size: 3rem;
  font-weight: var(--font-regular);
  letter-spacing: 0em;
  line-height: 1;

  @media only screen and (orientation: landscape) and (max-width: 767px) {
    font-size: 3.5rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 3.5rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 4.5rem;
  }
}

h3 {
  font-size: 2.75rem;
  font-weight: var(--font-regular);
  letter-spacing: 0em;
  line-height: 1;

  @media only screen and (orientation: landscape) and (max-width: 767px) {
    font-size: 3rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 3.5rem;
  }
}

h4 {
  font-size: 2.5rem;
  font-weight: var(--font-regular);
  letter-spacing: 0em;
  line-height: 1.1;

  @media only screen and (orientation: landscape) and (max-width: 767px) {
    font-size: 2.75rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 2.75rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 3rem;
  }
}

h5 {
  font-size: 2.25rem;
  font-weight: var(--font-regular);
  letter-spacing: 0em;
  line-height: 1.15;

  @media only screen and (orientation: landscape) and (max-width: 767px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 2.75rem;
  }
}

h6 {
  font-size: 2rem;
  font-weight: var(--font-regular);
  letter-spacing: 0em;
  line-height: 1.2;

  @media only screen and (orientation: landscape) and (max-width: 767px) {
    font-size: 2.25rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 2.25rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 2.5rem;
  }
}

.text-xs {
  font-size: var(--small);
  letter-spacing: 0.1em;
  line-height: 1.33;
}

.text-sm {
  font-size: var(--regular);
  letter-spacing: 0em;
  line-height: 1.42;
}

.text-base {
  font-size: var(--base);
  letter-spacing: 0em;
  line-height: 1.5;
}

.text-lg {
  font-size: var(--large);
  letter-spacing: 0em;
  line-height: 1.5;
}

.text-xl {
  font-size: var(--xlarge);
  letter-spacing: 0em;
  line-height: 1.5;
}

.text-2xl {
  font-size: var(--large);
  letter-spacing: -0.04em;
  line-height: 1.33;

  @media screen and (min-width: 1024px) {
    font-size: var(--xxlarge);
  }
}

.text-3xl {
  font-size: var(--xxxlarge);
  letter-spacing: 0em;
  line-height: 1.5;
}

.text-4xl {
  font-size: var(--xxlarge);
  letter-spacing: 0;
  line-height: 1.2;

  @media only screen and (orientation: landscape) {
    font-size: var(--xxxlarge);
  }

  @media only screen and (max-width: 767px) {
    font-size: var(--xxxlarge);
  }

  @media screen and (min-width: 768px) {
    font-size: var(--huge);
  }

  @media screen and (min-width: 1024px) {
    font-size: 2.5rem;
  }
}

.text-5xl {
  font-size: var(--huge);
  letter-spacing: -0.04em;
  line-height: 1.08;

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 3rem;
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  width: fit-content;

  &:focus-visible {
    outline: none;
  }
}
