:root {
  // Colours
  --white: #fff;
  --black: #000;
  --primary: #2453ff;
  --primary-dark: #003cff;
  --grey-100: #ddd;
  --grey-200: #afafaf;
  --grey-300: #808080;
  --grey-400: #474747;
  --grey-500: #333;
  --grey-600: #292929;
  --grey-700: #171717;
  --grey-800: #0f0f0f;
  --grey-900: #0a0a0a;
}
