:root {
  // Breakpoints
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;

  // Colours
  --white: #fff;
  --black: #000;
  --primary: #2453ff;
  --primary-dark: #003cff;
  --grey-100: #ddd;
  --grey-200: #afafaf;
  --grey-300: #808080;
  --grey-400: #474747;
  --grey-500: #333;
  --grey-600: #292929;
  --grey-700: #171717;
  --grey-800: #0f0f0f;
  --grey-900: #0a0a0a;

  // Sizing
  --none: 0rem;
  --tiny: 0.125rem;
  --xxsmall: 0.25rem;
  --xsmall: 0.5rem;
  --small: 0.75rem;
  --regular: 0.875rem;
  --base: 1rem;
  --large: 1.125rem;
  --xlarge: 1.25rem;
  --xxlarge: 1.5rem;
  --xxxlarge: 1.75rem;
  --huge: 2rem;
  --xhuge: 2.5rem;

  // Font Weight
  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  // Responsive
  --p-small: 2rem;
  --p-medium: 3rem;
  --p-large: 4rem;
  --p-xlarge: 10rem;

  @media screen and (min-width: 1024px) {
    // Padding
    --p-small: 4rem;
    --p-medium: 5rem;
    --p-large: 7.5rem;
    --p-xlarge: 10rem;
  }
}
