footer {
  background-color: var(--black);

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--p-large) var(--xxlarge);
    gap: 6.5rem;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;

    .case-studies {
      display: flex;
      justify-content: space-between;
      gap: var(--xxhuge);

      &__title {
        text-transform: uppercase;
        white-space: nowrap;
      }

      &__right {
        display: flex;
        flex-direction: column;
        gap: var(--xhuge);
        max-width: 46rem;
        width: auto;
      }

      &__link {
        display: flex;
        align-items: center;
        gap: var(--small);
      }
    }

    .links {
      display: flex;
      justify-content: space-between;

      &__left {
        display: flex;
        gap: 12.5rem;
      }

      .menu,
      &__offsite {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: var(--xxlarge);
      }

      &__right {
        display: flex;
        flex-direction: column;
        gap: var(--huge);
        text-transform: uppercase;
      }
    }
  }
}
