footer {
  background-color: var(--black);

  .wrapper {
    padding: var(--p-large) var(--xxlarge);

    .case-studies {
      display: flex;
      justify-content: space-between;
      gap: var(--xxhuge);
      max-width: 80rem;
      width: 100%;
      margin: 0 auto;

      &__title {
        text-transform: uppercase;
        white-space: nowrap;
      }

      &--right {
        display: flex;
        flex-direction: column;
        gap: var(--xhuge);
        max-width: 46rem;
        width: auto;
      }

      &__link {
        display: flex;
        align-items: center;
        gap: var(--small);
      }
    }
  }
}
