footer {
  gap: 6.5rem;
  position: relative;

  .wrapper-padding {
    padding: var(--p-large) var(--base);

    @media screen and (min-width: 768px) {
      padding: var(--p-large) var(--xxlarge);
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--xxhuge);
      max-width: 80rem;
      width: 100%;
      margin: 0 auto;

      @media screen and (min-width: 768px) {
        gap: 6.5rem;
      }

      .case-studies {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;

        @media screen and (min-width: 1024px) {
          flex-direction: row;
          gap: var(--xxhuge);
        }

        &__title {
          text-transform: uppercase;
          white-space: nowrap;
        }

        &__right {
          display: flex;
          flex-direction: column;
          gap: var(--xhuge);

          width: auto;

          @media screen and (min-width: 1024px) {
            max-width: 46rem;
          }
        }

        &__link {
          display: flex;
          align-items: center;
          gap: var(--small);
        }
      }

      .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;

        @media screen and (min-width: 1024px) {
          flex-direction: row;
        }

        &__left {
          display: flex;
          gap: 0;

          @media screen and (min-width: 1024px) {
            gap: 12.5rem;
          }
        }

        nav,
        &__offsite {
          flex-basis: 50%;

          @media screen and (min-width: 1024px) {
            flex-basis: auto;
          }
        }

        .menu,
        &__offsite {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          list-style-type: none;
          gap: var(--xxlarge);

          @media screen and (min-width: 767px) {
            gap: var(--huge);
          }

          li {
            opacity: 0.8;

            &:hover {
              opacity: 1;
            }
          }
        }

        &__right {
          display: flex;
          flex-direction: column;
          gap: var(--huge);
          text-transform: uppercase;
        }
      }
    }
  }

  .carousel {
    display: flex;
    overflow-x: hidden;
    gap: 3.5rem;
    width: auto;

    .images {
      display: flex;
      align-items: center;
      gap: 3.5rem;
      animation: loop 20s infinite linear;

      .image {
        flex: 0 0 auto;

        &-1,
        &-3 {
          max-height: 4rem;

          @media screen and (min-width: 768px) {
            max-height: 6rem;
          }

          @media screen and (min-width: 1024px) {
            max-height: 12.5rem;
          }
        }

        &-2,
        &-4 {
          max-height: 7.5rem;
          aspect-ratio: 16 / 9;

          @media screen and (min-width: 768px) {
            max-height: 10rem;
          }

          @media screen and (min-width: 1024px) {
            max-height: 15rem;
          }
        }
      }
    }
  }
}

@keyframes loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 3.5rem));
  }
}
