.footer {
  position: relative;

  .wrapper-padding {
    padding: var(--p-large) var(--base);

    @media screen and (min-width: 768px) {
      padding: var(--p-large) var(--xxlarge);
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--xxhuge);
      max-width: 80rem;
      width: 100%;
      margin: 0 auto;

      @media screen and (min-width: 768px) {
        gap: 6.5rem;
      }

      .case-studies {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;

        @media screen and (min-width: 1024px) {
          flex-direction: row;
          gap: var(--xxhuge);
        }

        &__title {
          text-transform: uppercase;
          white-space: nowrap;
        }

        &__right {
          display: flex;
          flex-direction: column;
          gap: var(--xhuge);

          width: auto;

          @media screen and (min-width: 1024px) {
            max-width: 46rem;
          }
        }

        &__link {
          display: flex;
          align-items: center;
          gap: var(--small);
        }
      }

      .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;

        @media screen and (min-width: 1024px) {
          flex-direction: row;
        }

        &__left {
          display: flex;
          gap: 0;

          @media screen and (min-width: 1024px) {
            gap: 12.5rem;
          }
        }

        nav,
        &__offsite {
          flex-basis: 50%;

          @media screen and (min-width: 1024px) {
            flex-basis: auto;
          }
        }

        .menu,
        &__offsite {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          list-style-type: none;
          gap: var(--xxlarge);

          @media screen and (min-width: 768px) {
            gap: var(--huge);
          }

          a {
            opacity: 0.8;

            &:hover {
              opacity: 1;
            }
          }
        }

        &__right {
          display: flex;
          flex-direction: column;
          gap: var(--huge);
          text-transform: uppercase;
        }
      }
    }
  }

  .carousel {
    overflow: hidden;

    &__track {
      display: flex;
      gap: 3.5rem;
      transform: translateX(0%);
      width: max-content;

      &.animate {
        animation: loop 20s linear infinite;
      }
    }

    &__images {
      display: flex;
      align-items: center;
      gap: 3.5rem;
    }

    &__image {
      flex: 0 0 auto;

      &--1,
      &--3 {
        height: 4rem;

        @media screen and (min-width: 768px) {
          height: 6rem;
        }

        @media screen and (min-width: 1024px) {
          height: 12.5rem;
        }
      }

      &--2,
      &--4 {
        height: 7.5rem;
        aspect-ratio: 16 / 9;

        @media screen and (min-width: 768px) {
          height: 10rem;
        }

        @media screen and (min-width: 1024px) {
          height: 15rem;
        }
      }
    }
  }
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-50% - (3.5rem / 2)));
  }
}
