.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: var(--xlarge) var(--base);
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      padding: var(--xlarge) var(--xxlarge);
    }
  }

  &__toggle {
    background-color: var(--white);
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0 var(--xsmall);
    cursor: pointer;
    display: block;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__nav-wrapper {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    width: 200px;
    right: var(--base);
    top: 100%;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;

    &.active {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    @media screen and (min-width: 768px) {
      position: relative;
      opacity: 1;
      pointer-events: auto;
      transform: none;
      width: auto;
      right: 0;
    }
  }

  &__nav {
    padding: var(--base) var(--huge) var(--xxlarge);
    background-color: var(--black);

    @media screen and (min-width: 768px) {
      padding: 0;
      background-color: transparent;
    }

    .menu {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      list-style-type: none;
      gap: var(--xxlarge);

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
    }
  }

  &__title {
    height: 100%;
  }

  &__location {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}
