.about {
  min-height: 100vh;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__text {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--xxhuge);

    h2 {
      text-transform: uppercase;
      text-align: center;
    }

    p {
      text-align: center;
      font-weight: var(--font-regular);
      max-width: 45.5rem;
      width: 100%;
      text-wrap: balance;
    }
  }

  .image {
    width: 100%;

    &-1 {
      max-width: 11.25rem;
    }

    &-2 {
      max-width: 28.75rem;
    }

    &-3 {
      max-width: 18rem;
    }

    &-4 {
      max-width: 32.5rem;
    }

    &-5 {
      max-width: 30rem;
    }

    &-6 {
      max-width: 20rem;
    }
  }
}
