.about {
  position: relative;

  .wrapper-padding {
    padding-inline: var(--xxlarge);
    position: relative;
    padding-bottom: 6rem;

    @media screen and (min-width: 768px) {
      padding-bottom: 7.5rem;
    }

    @media screen and (min-width: 1024px) {
      padding-bottom: 7.5rem;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100%;
      max-width: 80rem;
      width: 100%;
      margin: 0 auto;
      position: relative;
    }
  }

  &__text {
    position: sticky;
    top: 0;
    padding-top: 50vh;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--xxhuge);
    max-width: 45.5rem;
    width: 100%;
    margin: 0 auto;
    mix-blend-mode: difference;

    h2 {
      text-transform: uppercase;
      text-align: center;
    }

    p {
      text-align: center;
      font-weight: var(--font-regular);
      text-wrap: balance;
    }
  }

  &__images {
    padding-top: 50vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 8rem;
    overflow-x: hidden;

    @media screen and (min-width: 768px) {
      padding-bottom: 10rem;
    }

    @media screen and (min-width: 1024px) {
      padding-bottom: 14rem;
    }

    .row {
      display: flex;
      justify-content: space-between;
    }

    .image {
      width: 100%;

      &-1 {
        height: 100%;
        max-width: 11.25rem;
        margin-top: 5rem;
      }

      &-2 {
        max-width: 28.75rem;
      }

      &-3 {
        max-width: 18rem;
        margin-left: 4rem;
        margin-top: 20rem;
      }

      &-4 {
        max-width: 32.5rem;
        align-self: end;
        margin-top: 20rem;
        margin-right: 1rem;
      }

      &-5 {
        max-width: 30rem;
        margin-top: 20rem;
      }

      &-6 {
        max-width: 20rem;
        align-self: end;
        margin-top: 20rem;
        margin-right: 1rem;
      }
    }
  }
}
