.about {
  position: relative;

  .wrapper-padding {
    padding-inline: var(--base);
    position: relative;
    padding-bottom: 6rem;

    @media screen and (min-width: 768px) {
      padding-bottom: 7.5rem;
      padding-inline: var(--xxlarge);
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100%;
      max-width: 80rem;
      width: 100%;
      margin: 0 auto;
      position: relative;
    }
  }

  &__text {
    position: sticky;
    top: 0;
    padding-top: 50vh;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--xxlarge);
    max-width: 45.5rem;
    width: 100%;
    margin: 0 auto;
    mix-blend-mode: difference;

    @media screen and (min-width: 768px) {
      gap: var(--huge);
    }

    @media screen and (min-width: 1024px) {
      gap: var(--xxhuge);
    }

    h2 {
      text-transform: uppercase;
      text-align: center;
    }

    p {
      text-align: center;
      font-weight: var(--font-regular);
      text-wrap: balance;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__images {
    padding-top: 50vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
    overflow-x: hidden;

    @media screen and (min-width: 1024px) {
      padding-bottom: 14rem;
    }
  }

  &__image {
    width: 100%;

    &--1 {
      height: 100%;
      max-width: 8rem;

      @media screen and (min-width: 1024px) {
        max-width: 11.25rem;
        margin-top: 5rem;
      }
    }

    &--2 {
      max-width: 18rem;
      margin-top: 20rem;

      @media screen and (min-width: 1024px) {
        max-width: 24rem;
        margin-top: 10rem;
      }

      @media screen and (min-width: 1024px) {
        max-width: 28.75rem;
        margin-top: 0;
      }
    }

    &--3 {
      max-width: 16rem;
      margin-top: 18rem;

      @media screen and (min-width: 768px) {
        margin-left: 2rem;
      }

      @media screen and (min-width: 1024px) {
        max-width: 18rem;
        margin-left: 4rem;
        margin-top: 20rem;
      }
    }

    &--4 {
      max-width: 20rem;
      align-self: end;
      margin-top: 18rem;

      @media screen and (min-width: 768px) {
        max-width: 28rem;
        margin-top: 18rem;
        margin-right: 1rem;
      }

      @media screen and (min-width: 1024px) {
        max-width: 32.5rem;
        margin-top: 20rem;
      }
    }

    &--5 {
      max-width: 16rem;
      margin-top: 18rem;

      @media screen and (min-width: 768px) {
        max-width: 22rem;
        margin-top: 20rem;
      }

      @media screen and (min-width: 1024px) {
        max-width: 30rem;
      }
    }

    &--6 {
      max-width: 20rem;
      align-self: end;
      margin-top: 20rem;

      @media screen and (min-width: 768px) {
        margin-right: 1rem;
      }
    }
  }
}
