.collections {
  .wrapper-padding {
    padding: var(--p-large) var(--base);
    gap: 6.5rem;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      padding: var(--p-large) var(--xxlarge);
    }

    .wrapper {
      max-width: 80rem;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--base);

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: var(--xxhuge);
    }
  }

  &__title {
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__text {
    width: auto;
    text-wrap: pretty;

    @media screen and (min-width: 1024px) {
      max-width: 45.5rem;
    }
  }

  &__images {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  &__item {
    position: sticky;
    height: calc(100vh - (var(--xxlarge) * 2));

    @for $i from 1 through 3 {
      &:nth-child(3n + #{$i}) {
        @if $i == 1 {
          top: var(--xxlarge);
        } @else {
          top: calc(#{$i - 1} * var(--xxlarge) + 16px);
        }
      }
    }

    @supports (animation-timeline: view()) {
      @media screen and (min-width: 768px) {
        &:nth-child(n) {
          top: var(--xxlarge);
        }

        &:not(:last-of-type) {
          animation: scale both;
          animation-timeline: view();
          animation-range: entry 110% cover calc(400vh - (var(--xxlarge) * 2));
        }
      }
    }

    .gradient {
      background: linear-gradient(transparent 80%, rgba(transparent, 0.4));
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }

  &__item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--small);
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
  }

  &__item-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-title {
    text-transform: uppercase;
  }

  &__item-date {
    text-transform: uppercase;
    color: var(--grey-200);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
    filter: brightness(1);
  }
  55% {
    transform: scale(0.95);
    filter: brightness(0);
  }
  100% {
    transform: scale(0.95);
    filter: brightness(0);
  }
}
