.collections {
  .wrapper-padding {
    padding: var(--p-large) var(--xxlarge);

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 6.5rem;
      max-width: 80rem;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__overview {
    display: flex;
    justify-content: space-between;
    gap: var(--xxhuge);
  }

  &__title {
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__text {
    max-width: 45.5rem;
    width: auto;
    text-wrap: pretty;
  }

  &__images {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
  }

  &__item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--small);
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  &__item-image {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__item-title {
    text-transform: uppercase;
  }
}
