.exhibitions {
  .wrapper-padding {
    padding-inline: var(--xxlarge);
    padding-top: var(--p-large);

    .wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      gap: var(--xxhuge);
      display: flex;
      max-width: 80rem;
      width: 100%;
    }
  }

  &__left {
    h2 {
      text-transform: uppercase;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      gap: var(--xxlarge);
      margin: 0;
      padding: 0;

      li {
        opacity: 0.4;
        width: fit-content;
        transition-duration: 0.4s;

        a {
          text-transform: unset;
        }
      }
    }

    .all-link {
      display: flex;
      align-items: center;
      gap: var(--small);
    }
  }
}
