.exhibitions {
  position: relative;

  .wrapper-padding {
    padding: var(--p-large) var(--xxlarge);

    .wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      gap: var(--xxhuge);
      display: flex;
      max-width: 80rem;
      min-height: 37.5rem;
      width: 100%;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;

    h2 {
      text-transform: uppercase;
    }
  }

  &__images {
    height: auto;
    width: auto;
    position: relative;
    overflow: hidden;

    .image {
      object-fit: cover;
      position: relative;
      height: inherit;
      width: 100%;
      display: block;
      transition-duration: 0.4s;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      gap: var(--xxlarge);
      margin: 0;
      padding: 0;

      li {
        opacity: 0.4;
        width: fit-content;
        letter-spacing: unset;

        &.active {
          opacity: 1;
        }

        a {
          text-transform: unset;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: var(--small);
  }
}
