.exhibitions {
  position: relative;

  .wrapper-padding {
    padding-inline: var(--xxlarge);
    padding-top: var(--p-large);

    .wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      gap: var(--xxhuge);
      display: flex;
      max-width: 80rem;
      min-height: 37.5rem;
      width: 100%;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;

    h2 {
      text-transform: uppercase;
    }
  }

  &__images {
    height: auto;
    width: auto;
    position: relative;

    .image {
      object-fit: contain;
      position: relative;
      width: 100%;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      gap: var(--xxlarge);
      margin: 0;
      padding: 0;

      li {
        opacity: 0.4;
        width: fit-content;

        &.active {
          opacity: 1;
        }

        a {
          text-transform: unset;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: var(--small);
  }
}
