.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .wrapper-padding {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: var(--xhuge) var(--base);

    @media screen and (min-width: 768px) {
      padding: var(--xhuge) var(--xxlarge);
    }

    .wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      inset: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    ul {
      padding: 0;
      margin: 0;
      gap: 1.5rem;
      display: flex;
      flex-direction: column;

      li {
        list-style-type: none;

        a {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 6.5rem;
    padding-top: 4.75rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: var(--base);
    width: 18.5rem;

    @media screen and (min-width: 1024px) {
      gap: 1.5rem;
    }
  }
}
