.testimonials {
  .wrapper-padding {
    padding: var(--p-large) var(--xxlarge);

    .wrapper {
      display: flex;
      flex-direction: column;
      max-width: 80rem;
      width: 100%;
      margin: 0 auto;
      gap: 3rem;
    }
  }

  &__title {
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__wrapper {
    display: flex;
    gap: 3rem;
    flex-basis: 1 1;
  }

  &__images {
    height: auto;
    width: auto;
    position: relative;
    overflow: hidden;
    flex-basis: 50%;

    .image {
      object-fit: cover;
      position: relative;
      height: 100%;
      max-height: calc(100vh - (var(--xxlarge) * 2));
      width: 100%;
      display: block;
      transition-duration: 0.4s;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: var(--xxlarge);
    flex-basis: 50%;
  }

  &__author {
    color: var(--grey-200);
  }
}
