.testimonials {
  height: auto;

  .wrapper-padding {
    padding: var(--p-large) var(--xxlarge);
    height: auto;
    box-sizing: border-box;

    .wrapper {
      display: flex;
      flex-direction: column;
      max-width: 80rem;
      min-height: 37.5rem;
      height: 50%;
      width: 100%;
      margin: 0 auto;
      gap: 3rem;
    }
  }

  &__title {
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__wrapper {
    display: flex;
    flex: 1;
    gap: 3rem;
    height: 100%;
  }

  &__images {
    display: flex;
    height: auto;
    width: auto;
    position: relative;
    overflow: hidden;
    flex-basis: 50%;

    .image {
      object-fit: cover;
      position: relative;
      height: 100%;
      width: 100%;
      display: block;
      transition-duration: 0.4s;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: var(--xxlarge);
    flex-basis: 50%;
  }

  &__info {
    display: none;
    flex-direction: column;
    gap: var(--xxlarge);

    &.active {
      display: flex;
    }
  }

  &__author {
    color: var(--grey-200);
  }

  &__list {
    display: flex;
    gap: var(--base);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    border-radius: 3rem;
    height: 3rem;
    width: 3rem;
    border: 1px solid var(--white);
    overflow: hidden;
    object-fit: contain;
    opacity: 0.4;

    &.active {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
