.testimonials {
  height: auto;

  .wrapper-padding {
    padding: var(--p-large) var(--base);
    height: auto;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
      padding: var(--p-large) var(--xxlarge);
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      max-width: 80rem;
      height: auto;
      width: 100%;
      margin: 0 auto;
      gap: var(--base);

      @media screen and (min-width: 1024px) {
        gap: 3rem;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    gap: var(--xxlarge);

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    @media screen and (min-width: 1024px) {
      gap: 3rem;
    }
  }

  &__images {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-basis: 50%;

    .image {
      aspect-ratio: 1/1;
      object-fit: cover;
      position: relative;
      height: 100%;
      width: 100%;
      display: block;
      transition-property: transform;
      transition-duration: 0.4s;
      flex-shrink: 0;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: var(--xxlarge);
    flex-basis: 50%;
  }

  &__info {
    display: none;
    flex-direction: column;
    gap: var(--xxlarge);

    &.active {
      display: flex;
    }
  }

  &__author {
    color: var(--grey-200);
  }

  &__list {
    display: flex;
    gap: var(--base);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    border-radius: 3rem;
    height: 3rem;
    width: 3rem;
    border: 1px solid var(--white);
    overflow: hidden;
    object-fit: contain;
    opacity: 0.4;

    &.active {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
    }
  }

  button {
    all: unset;
    display: block;
    height: 100%;
    width: 100%;
  }

  &__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
