.hero {
  height: 100vh;
  position: relative;

  .container {
    position: absolute;
    inset: 0;
    box-sizing: border-box;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    height: 100%;
    gap: 6.5rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 18.5rem;
  }
}
