.hero {
  height: 100vh;
  position: relative;

  .wrapper {
    width: 100%;
    padding: var(--xhuge) var(--xxlarge);
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;

    ul {
      padding: 0;
      margin: 0;
      gap: 1.5rem;
      display: flex;
      flex-direction: column;

      li {
        list-style-type: none;

        a {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 6.5rem;
    padding-top: 4.75rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 18.5rem;
  }
}
